@import "./base.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background: #eef3f8;
  font-family: "Segoe UI", Arial, sans-serif;
}