

@import "./base.css";

* {
  box-sizing: border-box;
}

html,
body,
  /* #app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display : grid;
  } */

/* #app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
} */

#app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: #f3f7fa;
}

button,
input,
select,
textarea {
  font: inherit;
}

#app {
  min-height: 100vh;
}



/* body {
  display : flex ;
  place-items : center;
  background: #eef3f8;
  font-family: "Segoe UI", Arial, sans-serif;
}


#app {
  width: 100%;
  min-height: 100vh;
} */


